body{
  background-color: #ECF2F8;
}

main{
  margin-left:auto;
  margin-right:auto;
  margin-top:64px;
  border-radius: 10px;
  background-color: #fff;
  width:327px;
}


h1{
  color:#48556A;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 26px */
  letter-spacing: 0.25px;
}
section{
  padding: 34px 30px 18px 30px;
}


.description{
  color:#6E8098;
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 18.2px */
  letter-spacing: 0.016px;
  margin-top:24px;
}

.profile{
  position:relative;
  margin-top:24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.wrapper{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap:10px;
}

.photo{
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.name{
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 18.2px */
  letter-spacing: 0.016px;
  color:#48556A;
}

.date{
  color:#9DAEC2;
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 18.2px */
  letter-spacing: 0.016px;
}

img{
  border-radius: 10px;
}

.share{
  cursor: pointer;
}


.list{

  display:flex;
  flex-direction: row;
  background-color: #48556A;
  padding:16px 32px;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.list__links{
  display:flex;
  flex-direction: row;
  align-items: center;
  gap:16px;
  p{
    color:#9DAEC2;
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 18.2px */
    letter-spacing: 3.25px;
    text-transform: uppercase;
  }
}

#list-desktop{
  display: none;
}

.hidden{
  display:none;
}

@media (min-width: 768px){
}

@media (min-width: 1100px){
  #main-image{
    width:281px;
    height:346px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
  }
  main{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    display:flex;
    flex-direction: row;
    width: 608px;
  }
  #list-desktop{
    position: absolute;
    padding:18px 38px;
    border-radius: 10px;
    right: -40%;
    bottom: calc(100% + 20px);
    display: none;
    flex-direction: row;
    background-color:#48556A ;
  /*  right: 50%;
    bottom: calc(100% + 16px);
    transform: translateX(50%);
  */
  }
  #list-desktop.active{
    display:flex;
  }




  #list-desktop::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #48556A;
  }

}